*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
nav{
  height: 80px;
  width: 100%;
}
.logo{
  height: 80px;
  width: 120px;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;

}
nav ul li a{
  color:rgb(65, 165, 55);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
}
nav ul li a:hover{
  background: rgb(65, 165, 55);
  transition: .5s;
  color: white;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
  cursor: pointer;
}
.heading{
  position: absolute;
  text-align: center;
}

.main-section{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2LY3G_ymxKwT66aila4rwE2HA4Dcc6U7cyw&s");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 80px);
}
.heading{
  text-align: center;
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: rgb(65, 165, 55) ;
}
.main-btn{
  position: absolute;
  top: 65%;
  left: 50%;
  padding: 10px 25px;
  color: rgb(65, 165, 55);
  border: 1px solid rgb(65, 165, 55) ;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 25px;
  text-align: center;
  display: flex;
  margin: auto;
}
.main-btn:hover{
  color: white;
  background-color: rgb(65, 165, 55);
}

section{
  padding:15px 9%;
}
#packages h1{
  color:rgb(216, 116, 116);
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px;

}
#packages .package-box{
  display:flex;
  flex-wrap: wrap;
  gap:2rem;
}
#packages .package-box .box{
  flex:1 1 20rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1rem 1rem rgba(27, 14, 145, 0.1);
  border:1px solid rgb(130, 130, 219);
}
#packages .package-box .box img{
  height: 20rem;
  width: 100%;
  object-fit: fill;
}
#packages .package-box .box .content{
  padding: 2rem;
}
#packages .package-box .box .content h3{
  font-size: 1.5rem;
  color: rgb(130, 130, 219);
}
#packages .package-box .box .content p{
  font-size: 1rem;
  color: #666;
  padding-top: 8px;
}
.price{
  font-size: 0.8rem;
  color: #333;
  margin-left: 2rem;
}

.package-btn{
  padding: 8px 10px;
  color:#f8e7e7;
  border: 1px solid #e5f7eb;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 12px;
  background-color: rgb(130, 130, 219);
  margin-left: 28px;
  margin-top: 15px; 
}

#gallery h1{
  color:rgb(216, 116, 116);
  font-size: 60px;
  text-align: center;
  margin: 15px;
}

.gallery-box{
  display:grid;
  grid-template-columns: repeat(auto-fit , minmax(340px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 40px;
}
.gallery-content{
  position: relative;
}

.gallery-content img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
  transform: all 0.3s cubic-bezier(.49s,.05,.5s,.9s);
  will-change: filter;
}
.gallery-content h3{
  position: absolute;
  font-size: 22px;
  font-weight: 500;
  color:rgb(59, 22, 194);
  left:15px;
  bottom: 320px;
}
.gallery-content p{
  position: absolute;
  font-size: 15px;
  color:white;
  left: 15px;
  bottom: 30px;
  letter-spacing: 2px;
}

.bg-img {
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#contact{
  margin-top: 50px;
}

#contact h1{
  color: grey;
  font-size: 40px;
}
form input, form textarea{
  width: 50%;
  border: 0;
  outline: none;
  background: #e5f7eb;
  padding: 15px;
  margin: 15px 0;
  color: #b45151;
  font-size: 18px;
  border-radius: 6px;
}
form .submit-btn{
  padding: 10px 25px;
  color: grey;
  border: 1px solid #e5f7eb ;
  font-weight: bolder;
  font-size: 15px;
  background-color: #e5f7eb;
  border-radius: 25px;
  cursor: pointer;
}
.social-icons {
  float: right;
  text-decoration: none;
  font-size: 28px;
  color:#93a799;
  transition: transform 0.5s;
  margin-left: 20px;
}
.social-icons:hover {
  color: rgb(216, 116, 116);
  transform: translateY(-5px);
}

#footer-section{
  background-color:  #e5f7eb;
  margin-top: 50px;
}

.list ul li{
  display: inline-block;
  color: grey;
  padding: 7px 13px;
}

.copyright{
  width: 100%;
  text-align: center;
  font-weight: 300;
  color: rgb(131, 118, 118);
  margin-top: 10px;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 90%;
    height: 30vh;
    background-color:rgb(208, 240, 224);
    /* background-image: linear-gradient( r); */
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 30px 0;
    line-height: 10px;
  }
  nav ul li a{
    font-size: 15px;
    color: rgb(109, 116, 116);
  }
  nav ul li a:hover{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .heading{
    font-size: 35px;
  }
  .main-btn{
    font-size: 15px;
    padding: 10px 15px;
    top: 63%;
    left: 47%;
    
  }
}

