*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif ;
}
html{
  scroll-behavior: smooth;
}
body{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7rPxxmD8WSMxpHwxrb4geKs4bMN9xJZyeOg&usqp=CAU'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.links li{
  list-style: none;
}
.links a{
  text-decoration:none;
  color: #239aaa;
  font-size: 18px;
  position: relative;
}
.links a::after{
  content:'';
  width:0;
  height: 3px;
  background-color: chocolate;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.links a:hover::after{
  color:chocolate;
  width: 100%;
}
header{
  position: relative;
  padding: 0 2rem;
  background-color: #e5f7eb;
}
.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  font-size: 1.7rem ;
  font-weight: bold;
  text-decoration:none;
  color: #239aaa;
}
.navbar .logo a:hover{
  color: chocolate;
}
.navbar .links{
  display: flex;
  gap:2rem;
}
.navbar .toggle_btn{
  color: #239aaa;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(223, 218, 218, 0.158);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
  height: 240px;
}
.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#hero {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #239aaa;
}
#hero h1{
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.content{
text-align: center;
}
.content h2{
font-size: 30px;
font-weight: 550;
text-shadow: 0px 1px 1px black;
animation: animate 1s ease-in-out infinite;
}
.changecontent::after{
content: ' ';
color: #c97777;
text-shadow: 0px 1px 1px black;
animation: changetext 10s infinite linear;
}
@keyframes changetext{
0%{content: "Web Developer";}
30%{content: "Full Stack Developer ";}
70%{content: "Front End Developer";}
100%{content: "Back End Developer";}
} 
#about{
  padding: 50px 0;
  color:#ababab;
}
.row{
  display: flex;
  justify-content:space-between ;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 40%;
  margin-left: 35px;
}
.about-col-1 h1{
  text-align: center;
}
.about-col-2{
  flex-basis: 50%;
}
.sub-title{
  font-size: 35px;
  font-weight: 600;
  color:#2f7c86 ;
  text-align: center;
}
.about-heading{
  margin-bottom: 55px;
}
.tab-titles{
  display: flex;
  color:#2f7c86 ;
}
.container p{
  line-height: 20px;
  max-width: 580px;
  text-align: justify;
}
.tab-links{
  margin-right: 50px;
  font-style: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  font-weight: 600;
}
.tab-links::after{
  content:'';
  width: 0;
  height: 3px;
  background: chocolate;
  position: absolute;
  left:0;
  bottom:-8px;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width:85%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  padding-bottom: 8px;
  line-height: 21px;
}
.tab-contents ul li span{
  color: #2f7c86;
  font-size: 14px;
  font-weight: 600;
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}
.img-section{
  display: flex;
  align-items: center;
  height: 10px;
}
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}
.skill-header {
  margin-bottom: 50px;
  font-size: 38px;
  font-weight: 600;
  color:#2f7c86 ;
}
.skills-wrapper img {
  padding: 1rem;
  width: 150px;
  height: 150px;
}
.icon {
  width: 11.875rem;
  height: 11.25rem;
}
.icon-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}
#portfolio{
  padding: 50px 0;
}
.work-list{
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6),#627a7e);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
  color:white;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.work:hover img{ 
  transform: scale(1.1) ;
}
.work:hover .layer{
  height: 100%;
}
.btn-1{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #cebebe;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #239aaa;
  background-color: #283141;
  transition: background 0.5s;
}
.btn-1:hover{
  background-color: #a84823;
}
#contact{
  padding: 50px 0;
}
.contact-left{
  flex-basis: 30%;
  margin-left: 100px;
}
.contact-right{
  flex-basis: 55%;
  margin-right: 90px;
}
.contact-left p{
  margin-top: 30px;
  font-size: 20px;
}
.contact-left p i{
  color:#b45151;
  margin-right: 15px;
  font-size: 23px;
}
.social-icons{
  margin-top: 30px;
}
.icon1{
  margin-left: 15px;
}
.social-icons a{
  text-decoration: none;
  font-size: 25px;
  color:#c7afaf;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #b45151;
  transform: translateY(-5px);
}
.btn-1.btn1{
  display: inline-block;
  background:#b45151;
  color: white;
  margin-top: 25px;
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #e5f7eb;
  padding: 15px;
  margin: 15px 0;
  color: #b45151;
  font-size: 18px;
  border-radius: 6px;
}
form .btn1{
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 15px;
  background: #e5f7eb ;
  font-weight: 300;
  margin-top: 40px;
  color: rgb(131, 118, 118);
  margin-bottom: -70px;
}

#msg{
  color:#b45151;
  margin-top: -40px;
  display: block;
}
@media(max-width : 992px){
  .navbar .links{
    display: none;
  }
  .navbar .toggle_btn{
    display: block;
  }
  .dropdown_menu{
    display: block;
  }
}
@media only screen and (max-width : 600px)
{
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
  .header-text{
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1{
    font-size: 30px;
  }
  .sub-title{
    font-size: 40px;
    margin-bottom: -22px;
  }
  .about-col-1, .about-col-2{
    flex-basis: 100%;
  }
  .about-col-1{
    margin-bottom: 30px;
    margin-right: 20px;
  }
  .about-col-2{
    font-size: 14px;
    margin-left: 30px;
  }
  .tab-links{
    font-size: 16px;
    margin-right:20px;
  }
  .contact-left, .contact-right{
    flex-basis:100% ;
  }
  .contact-left{
    margin-left: 20px;
  }
  .contact-right{
    margin-left: 20px;
    margin-right: 2px;
  }
  .work-list{
    grid-template-columns: repeat(2, 1fr) ;
  }
}